---
---
@import "minima";

a, .site-title {
    color: #1cb14a !important;
}

.post-category {

}

header > .wrapper {
    max-width: 100%;
}

.latest-posts-group {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 56px 144px;
}