---
layout: base
---

<div class="container-fluid">
    {{ content }}

    {% assign posts = site.posts %}

    {%- if posts.size > 0 -%}
        {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
        {%- endif -%}

    <div>
        <ul class="post-list">
            {% for post in posts %}
            <div class="gy-3 mb-3 mx-auto">
                <div class="card p-2">
                    <span class="card-subtitle">
                        <h6 class="mb-2 mt-2 text-muted">{{ post.date | date: site.date_format }}</h6>
                        <div>
                            {% for category in post.categories limit:3 %}
                            <span class="badge rounded-pill bg-secondary">{{ category }}</span>
                            {% endfor %}
                        </div>
                    </span>

                    <h4 class="card-link">
                        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    </h4>

                    <h6 class="card-text">{{ post.excerpt | strip_html | truncatewords:25 }}</h6>
                </div>

            </div>
            {% endfor %}
        </ul>
    </div>

    {%- endif -%}

</div>